<template>
  <div>
    <!-- Display a list of books-->
    <BookItem
      v-for="book in books"
      :key="book.bookId"
      :book="book"
      @book-clicked="handleBookClicked"
    />
  </div>
</template>

<script>
import bookData from "../../util/book-data";
import { getAllBooks } from "../../util/api";
import BookItem from "./BookItem.vue";

export default {
  name: "Books",
  components: {
    BookItem,
  },
  data() {
    return {
      books: [],
    };
  },
  methods: {
    loadMockData() {
      //Load data from local file
      this.books = bookData;
    },
    async loadFromApi() {
      // load from api
      this.books = await getAllBooks();
    },
    handleBookClicked(bookId) {
      this.$router.push(`/${bookId}`);
    },
  },
  created() {
    //this.loadMockData();
    this.loadFromApi();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin-bottom: 20px;
}
a {
  color: #42b983;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

.img_selected {
  box-shadow: 0 0 10px 5px rgba(66, 255, 91, 0.822);
}

img:hover {
  box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5);
}
</style>
