    <template>
  <div class="header">
    <h1>Book Store</h1>
    <h2 v-if="!currentUser.loaded">
      current user is : {{ currentUser.results[0].email }}
    </h2>
  </div>
</template>
    
    <script>
import { mapState, mapActions } from "vuex";

export default {
  async created() {
    await this.loadUser();
  },
  computed: {
    ...mapState({
      currentUser: "user",
    }),
  },
  methods: {
    ...mapActions(["loadUser"]),
  },
};
</script>
    
    <style>
.header {
  background: rgb(201, 214, 238);
  padding: 3em;
}
</style>